* {
  padding: 0;
  margin: 0;
}

:root {
  --white: #FFF;
  --primary: #61ECBC;
  --black: #182339;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url('/public/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
}

.container {
  max-width: 60rem;
  width: 90%;
  margin: 0 auto;
}

.app-title {
  font-size: 3.8rem;
  margin-top: 5rem;
  color: var(--white);
  line-height: .99;
}

.app-title span {
  display: block;
  color: var(--primary);
  font-size: 3.4rem;
}

.content {
  margin-top: 3rem;
  padding: 4rem 2rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: rgba(134, 49, 49, 0.25) 0px 54px 55px, rgba(114, 48, 48, 0.25) 0px -12px 30px, rgba(114, 48, 48, 0.25) 0px 4px 6px, rgba(114, 48, 48, 0.25) 0px 12px 13px, rgba(114, 48, 48, 0.25) 0px -3px 5px;
}

.form,
.field {
  display: flex;
  flex-direction: column;
  
}

.form label {
  color: var(--black);
}
.form select {
  background-color: #ECEBEB;
  border: none;
  padding: .5rem;
  border-radius: 1rem;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.btn {
  background-color: var(--primary);
  color: var(--black);
  border: none;
  padding: 1rem;
  font-weight: 900;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 3rem;
}

.btn:hover{
  background-color: #0CB387;
}

.result-wrapper{
  margin-top: 2rem;

}
.result-wrapper h2 {
  text-align: center;
}

.result {
  display: flex;
  justify-content: space-between;
  
}

.result img {
  width: 150px;
  
}

.content-2 {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  padding: 2rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: rgba(134, 49, 49, 0.25) 0px 54px 55px, rgba(114, 48, 48, 0.25) 0px -12px 30px, rgba(114, 48, 48, 0.25) 0px 4px 6px, rgba(114, 48, 48, 0.25) 0px 12px 13px, rgba(114, 48, 48, 0.25) 0px -3px 5px;
}